<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
  <Properties>
    <Property name="filename">logs/takoyaki.log</Property>
    <Property name="exception">logs/exception.log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
    <RollingRandomAccessFile name="File" fileName="${filename}"
        filePattern="logs/takoyaki.log.bak">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="256 MB"/>
      </Policies>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="Exception" fileName="${exception}" filePattern="${exception}.bak" immediateFlush="true">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="1 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Logger name="com.reuters.rfa" level="warn"/>
    <Root level="trace">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
      <AppenderRef ref="Exception" level="error"/>
    </Root>
  </Loggers>
</Configuration>
